body{
  font-size: 16px;
  color: black;
  font-family: 'Oxygen', sans-serif;
  }


#header-nav{
    background-color: grey;
    position: relative;
    border: 1px solid black;
}

.navbar-brand h1{
    color:black;
    position: absolute;
    margin-top: 3px;
    margin-left: 5px;

}

.navbar-toggle{
    margin-top: 20px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border:1px solid black;
}

#nav-list li a{
    background-color: rgb(223, 174, 174);
    color: black;
    border:1px solid black;
}

#collapse-nav #nav-list{
    color: black;
}

h2{
    text-align: center; 
}
.container .row #title{
    font-size: 1.3em;
    text-align: center;
    background-color: grey;
}

#content{
    background-color: grey;
    height: 1000px;
}

/********** Large + medium + smalldevices only **********/
@media (min-width: 768px) {
    .navbar-brand h1{
        margin-top: 2px;
        font-size: 2vw;
    }
    .container .row{
        margin-left: 20px;
        margin-right: 20px;
     } 
  }
  
  /********** Extra Small devices only **********/
  @media (max-width: 767px) {
    .navbar-brand h1{
        margin-top: 2px;
    }
    .container .row{
        margin-left: 80px;
        margin-right: 80px;
    }
  }
  

